/*** Bootstrap customization***/

/* Form focus */
.form-control:focus {
  border-color:#419641;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgb(159, 202, 159);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgb(159, 202, 159);
}

.large-Modal .modal-dialog{
  width:80%;
  position: absolute;
  top:5%; bottom: 0; left: 0; right: 0;
  margin: auto
}

/* Paginacion */
.pagination li a{	
	color:#53AC53;
}

.pagination li a:hover{	
	color:#419641; 
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 2;
  color: #fff;
  cursor: default;
  background-color: #419641;
  border-color: #398439;
}

.pagination a:hover,
.pagination .active a {
  background-color: #419641;
}

/*** end Bootstrap customization ***/


/*** Barra de menu ***/

#bar-menu{
	margin-bottom: 0px;
}

.custon-bar{
	margin-bottom: 0px;
	border-radius: 0px;
}

/*** fin de barra menu ***/


/*** textos de paginas ***/

.text-title{
	color: #419641;
}

.text-center{

	text-align: center;
}

.text-white{
	color:white;
}

.text-enlace{

	color:#419641;
	cursor: pointer;
}

.text-title-modal{

	color: #54AF54;
}

/*** fin  de texto de paginas ***/

/*** Tablas personalizadas ***/
.custon-table-bottom-off{
	
	margin-bottom: 0px; 
}

.custon-table-top-off{
	
	margin-top: 0px; 
}

/*** Fin de tablas personalizadas ***/

/*** Modal form ***/

.form-description{
	width:570px; 
	max-width:570px;
}

/*** Fin de modal form ***/

/*** Mensage de bienvenida al sistema ***/

#bienvenida{
	
	text-align: center;
}

/*** Fin de mensage de bienvenida al sistema ***/


/*** Contenido de la pagina de bienvenida ***/

#contenido{
	
	margin-top: 2%;
	padding: 10px;
	text-align: center;
}

.custon-imagen{
	
	width: 800px;

}

#contenedor-imagen{
	
	padding: 10px;
	padding-top: 40px;
}

/*** Fin del contenido de la pagina de bienvenida ***/


/*** Fromulario de inicio de sesion ***/

#login{
	
	margin-top:10%; 
	background-color: white;
	color: #419641;
	padding:0px;
	padding-bottom:5%; 
	box-shadow: 4px 4px 6px dimgrey;
	border-radius: 15px 15px;
	border: 1px solid #419641;
}

/* Titulo de formulario */ 
#formTitle{
	
	padding-top: 5%;
	padding-bottom: 8%;
	text-align: center;
	height: 50px;
	margin: 0px;
}

/*** Fin de formulario de inicio de sesion ***/


/*** Contenido de las paginas  ***/

#front-page{	
	padding-top:4em;
	padding-bottom:10%;
}

/* Tabla de visualizacion */
.table th{	
	background-color: #419641;
	color: white;
	text-align: center;
}

.table td{
	text-align: center;
}

.table-edit{
	width: 100px;
}


.img-lg{

	width:300px; 
	height:300px;
} 

.separ{
	border-left:1px solid #ccc;
}

.default{
	background-color:#F1F1F1;
}

/*** Fin de contenido de las paginas ***/



/*** Menu de navegacion lateral ***/

#side-menu{
	position: fixed;
	height:100%;
	padding:0px;
	padding-top: 5em;
}

.panel-default > .panel-heading {
   background: #262626;
   color: dimgrey;
}

.panel-default > a:link, a:visited { 
    color:#363636;
    text-decoration: none;
}

.panel-default > .panel-heading a{
	text-decoration: none;
}

#onlyLink{
	color: dimgrey;
}

.panel-default > .panel-heading:hover #onlyLink{
	color: white;
}

.panel-default > .panel-heading:hover{
	color: white;
	background-color: black;
}

.panel-default{
	background-color:black; 
	border: none;
	margin: 0px;
	border-bottom:1px solid black;
}

.panel-default .enlace{
	margin-bottom: 5%;
	margin-left: 8%;
}

.panel-default .enlace a{	
	color:dimgrey;
	text-decoration: none;
}

.panel-default .enlace a:hover{
	color: white;
}

/*** Fin de menu de navegacion lateral ***/


/*** Custom ui-selec ***/

.ui-select-bootstrap .ui-select-choices-row.active>a {
    background-color: #DFF0D8;
    color: black;
}

/*** Fin de custon ui-selec ***/

/*** input style  ***/

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

/*** Fin input style  ***/