/*** Bootstrap customization***/

/* Form focus */
.form-control:focus {
  border-color:#419641;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgb(159, 202, 159);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgb(159, 202, 159);
}

.large-Modal .modal-dialog{
  width:80%;
  position: absolute;
  top:5%; bottom: 0; left: 0; right: 0;
  margin: auto
}

.modal-body-custon{

  max-height: 450px;
  overflow-y: auto;
}

/* Paginacion */
.pagination li a{
	color:#53AC53;
}

.pagination li a:hover{
	color:#419641;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 2;
  color: #fff;
  cursor: default;
  background-color: #419641;
  border-color: #398439;
}

.pagination a:hover,
.pagination .active a {
  background-color: #419641;
}

/* Custom ui-selec */

.ui-select-bootstrap .ui-select-choices-row.active > a {
    background-color: #DFF0D8;
    color: black;
}

/*** end Bootstrap customization ***/


/*** Barra de menu ***/

#bar-menu{
	margin-bottom: 0px;
}

.custon-bar{
	margin-bottom: 0px;
	border-radius: 0px;
}

.nav.navbar-nav.navbar-right .active-green a {
	background:#419641;
}


/*** Encabezado ***/

.container-fluid {

  background-color: #505152;

}

.nav-ubication{
  color:#777
}

.nav-ubication .nav-enlaces{

  list-style: none;
  padding-left:0px;
  padding-top: 1%;
}

.nav-ubication .nav-enlaces li{
  display: inline-block;
}

.nav-ubication .nav-enlaces a{
  text-decoration: none;
  color: #419641;
}

.nav-ubication .nav-enlaces li::after{
  content:' >'
}

.nav-ubication .nav-enlaces .nav-active::after{
  content: none;
}

/*** fin de barra menu ***/


/*** textos de paginas ***/

.text-title{
	color: #419641;
}

.text-center{

	text-align: center;
}

.text-white{
	color:white;
}

.text-enlace{

	color:#419641;
	cursor: pointer;
}

.text-title-modal{

	color: #54AF54;
}

/*** fin  de texto de paginas ***/


/*** Tablas personalizadas ***/
.custon-table-bottom-off{

	margin-bottom: 0px;
}

.custon-table-top-off{

	margin-top: 0px;
}

/*** Fin de tablas personalizadas ***/

/*** Modal form ***/

.form-description {
	width:570px;
	max-width:570px;
}

/*** Fin de modal form ***/

/*** Estilo de vista de acceso ***/


.navbar-brand img {
  width: 100px;
}

/*** Mensage de bienvenida al sistema ***/

#bienvenida{

	text-align: center;
}

#bienvenida p {
  font-size: 28px;
}

/*** Fin de mensage de bienvenida al sistema ***/


/*** Contenido de la pagina de bienvenida ***/

#contenido{

	margin-top: 2%;
	padding: 10px;
	text-align: center;
}

.custon-imagen{

	width: 800px;
  padding: 5px;
  padding-top: 40px;
  -webkit-box-shadow: 5px 5px 1px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 5px 5px 1px 0px rgba(0,0,0,0.75);
  box-shadow: 5px 5px 1px 0px rgba(0,0,0,0.75);
}

/*#contenedor-imagen{

  padding: 5px;
  padding-top: 40px;

}

/*** Fin del contenido de la pagina de bienvenida ***/


/*** Fromulario de inicio de sesion ***/

#login{

	margin-top:10%;
	background-color: white;
	color: #419641;
	padding:0px;
	padding-bottom:5%;
	box-shadow: 4px 4px 6px dimgrey;
	border-radius: 15px 15px;
	border: 1px solid #419641;
}

/* Titulo de formulario */
#formTitle{

	padding-top: 5%;
	padding-bottom: 8%;
	text-align: center;
	height: 50px;
	margin: 0px;
}

/*** Fin de formulario de inicio de sesion ***/


/*** Contenido de las paginas  ***/

/* Tabla de visualizacion */
.table th{
	background-color: #419641;
	color: white;
	text-align: center;
}

.table td{
	text-align: center;
}


.table-edit{
	width: 100px;
}

.tableWarning th{
  background-color: #F89406;
}


.img-lg{

	width:300px;
	height:300px;
}

.separ{
	border-left:1px solid #ccc;
}

.default{
	background-color:#F1F1F1;
}

/*** Fin de contenido de las paginas ***/


/*** input style  ***/

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/*** Fin input style  ***/

/*** Loader screen for AJAX query ***/
.div_loader{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2000;
  background-color: black;
  color:white;
  opacity: 0.8;
  padding: 15%;
  text-align: center;
}

.simgle_loader{
  position: fixed;
  width: 100px;
  height: 0px;
  left: 85%;
  top:10%;
  z-index: 1000;
  color:#419641;
  opacity: 0.8;
  padding: 0px;
  text-align: center;
}

.img_single_loader img{
  width: 30px;
  height: 30px;
}

/*** Loader screen for resource loader ***/
.div_loader_resouerce{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2000;
  background-color: black;
  color:white;
  padding: 15%;
  text-align: center;
}

.img_loader img{
  width: 50px;
  height: 50px;
}

/*** Fin de  Loader screen ***/

body {
    position: relative;
    overflow-x: hidden;
}
body,
html { height: 100%;}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {background-color: transparent;}

/*-------------------------------*/
/*           Wrappers            */
/*-------------------------------*/

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 220px;
}

#sidebar-wrapper {
    z-index: 1000;
    left: 220px;
    width: 0;
    height: 100%;
    margin-left: -220px;
    overflow-y: auto;
    overflow-x: hidden;
    background: #1a1a1a;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#sidebar-wrapper::-webkit-scrollbar {
  display: none;
}

#wrapper.toggled #sidebar-wrapper {
    width: 220px;
}

#page-content-wrapper {
    width: 100%;
    padding-top: 4%;
}

.front-page{
	padding-bottom: 5%;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -220px;
}

/*-------------------------------*/
/*     Sidebar nav styles        */
/*-------------------------------*/

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 220px;
    margin: 0;
    padding:0;
    padding-top: 20%;
    list-style: none;
}

.sidebar-nav li {
    position: relative;
    line-height: 20px;
    display: inline-block;
    width: 100%;
}

.sidebar-nav li:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 3px;
    background-color: #1c1c1c;
    -webkit-transition: width .2s ease-in;
      -moz-transition:  width .2s ease-in;
       -ms-transition:  width .2s ease-in;
            transition: width .2s ease-in;

}

.sidebar-nav li:nth-child(2):before {
    background-color:  #006666;
}
.sidebar-nav li.admi:before{
    background-color: #314190;
}
.sidebar-nav li.inve:before{
    background-color: #800000;
}
.sidebar-nav li.mod:before {
    background-color: #EFA63F;
}
.sidebar-nav li.esta:before {
    background-color: #279636;
}
.sidebar-nav li.trn:before {
    background-color: #2d2366;
}

.sidebar-nav > .droAdmin li:before{
    color: #fff;
    background-color:#314190;
}
.sidebar-nav > .dropInv li:before{
    color: #fff;
    background-color:#800000;
}
.sidebar-nav > .dropMod li:before {
    color: #fff;
    background-color:#EFA63F;
}
.sidebar-nav > .dropTrn li:before {
    color: #fff;
    background-color:#2d2366;
}

.sidebar-nav li:hover:before,
.sidebar-nav li.open:hover:before {
    width: 100%;
    -webkit-transition: width .2s ease-in;
      -moz-transition:  width .2s ease-in;
       -ms-transition:  width .2s ease-in;
            transition: width .2s ease-in;

}

.sidebar-nav li a {
    display: block;
    color: #ddd;
    text-decoration: none;
    padding: 10px 15px 10px 30px;
}

.sidebar-nav li a:hover,
.sidebar-nav li a:active,
.sidebar-nav li a:focus,
.sidebar-nav li.open a:hover,
.sidebar-nav li.open a:active,
.sidebar-nav li.open a:focus{
    color: #fff;
    text-decoration: none;
    background-color: transparent;
}

.sidebar-nav > .sidebar-brand{
    height: 65px;
    font-size: 20px;
    line-height: 44px;
    pointer-events:none;
    background-color:#419641;
}

.sidebar-nav > .sidebar-brand a{

	color: white;
}


.sidebar-nav .dropdown-menu {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
    border-radius: 0;
    border: none;
    background-color: #222;
    box-shadow: none;
}

.dropdown-panel > li:hover > a{
	background: none;
}

/*-------------------------------*/
/*       Hamburger-Cross         */
/*-------------------------------*/

.hamburger {
  position: fixed;
  top: 8%;
  z-index: 999;
  display: block;
  width: 32px;
  height: 32px;
  margin-left: 15px;
  background: transparent;
  border: none;
}
.hamburger:hover,
.hamburger:focus,
.hamburger:active {
  outline: none;
}
.hamburger.is-closed:before {
  content: '';
  display: block;
  width: 100px;
  font-size: 14px;
  color: #fff;
  line-height: 32px;
  text-align: center;
  opacity: 0;
  -webkit-transform: translate3d(0,0,0);
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed:hover:before {
  opacity: 1;
  display: block;
  -webkit-transform: translate3d(-100px,0,0);
  -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom,
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
  position: absolute;
  left: 0;
  height: 4px;
  width: 100%;
}
.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom {
  background-color: #1a1a1a;
}
.hamburger.is-closed .hamb-top {
  top: 5px;
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed .hamb-middle {
  top: 50%;
  margin-top: -2px;
}
.hamburger.is-closed .hamb-bottom {
  bottom: 5px;
  -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed:hover .hamb-top {
  top: 0;
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed:hover .hamb-bottom {
  bottom: 0;
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
  background-color: #1a1a1a;
}
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-bottom {
  top: 50%;
  margin-top: -2px;
}
.hamburger.is-open .hamb-top {
  -webkit-transform: rotate(45deg);
  -webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
}
.hamburger.is-open .hamb-middle { display: none; }
.hamburger.is-open .hamb-bottom {
  -webkit-transform: rotate(-45deg);
  -webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
}
.hamburger.is-open:before {
  content: '';
  display: block;
  width: 100px;
  font-size: 14px;
  color: #fff;
  line-height: 32px;
  text-align: center;
  opacity: 0;
  -webkit-transform: translate3d(0,0,0);
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-open:hover:before {
  opacity: 1;
  display: block;
  -webkit-transform: translate3d(-100px,0,0);
  -webkit-transition: all .35s ease-in-out;
}

/*-------------------------------*/
/*            Overlay            */
/*-------------------------------*/

.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(250,250,250,.8);
    z-index: 10;
}
